// https://coolors.co/d65c70-2ab7ca-52e071-395b50-f2b90d

$theme-colors: (
    "primary": #d65c70,
    "secondary": #2ab7ca,
    "success": #52e071,
    "info": #395b50,
    "warning": #f2b90d,
);

$brand-primary: #d65c70;

$link-color: $brand-primary !default;

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

$font-family-base: "EB Garamond", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-size-base: 1.15rem !default;

@media (min-width: 992px) {
    .container {
        max-width: 800px !important;
    }
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 80px;
}

.footer {
    height: 80px;
    line-height: 24px;
    position: absolute;
    width: 100%;
}

* {
    border-radius: 0 !important;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
